<!DOCTYPE html>
<html lang="en">
<title>MusicMan</title>
{% include "head.html" %}

<body>


    {% include "header.html" %}
    <div class="col-middle">
        <div class="text-center text-center">
            <h3 class="my_header">Chapter 404: The Lost Page</h3>
            <hr>
            <p>A careful and diligent search has been made for the desired page, but it just cannot be found.</p>
            <p>And so they returned to <a href=/>familiar waters</a>.</p>
        </div>
    </div>
    {% include "footer.html" %}



</body>

</html>