<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>


  {% include "header.html" %}

  <div class="container">
        <br>
        <h4 class="text-center">Recently Added</h4>
        <br>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Artist</th>
                <th scope="col">Album</th>
                <th scope="col">Play</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>
                
                {% for song in song_model %}

              <tr>
                <th scope="row">{{song.id}}</th>
                <td data-toggle="tooltip" data-placement="top" title="{{song.title}}">{{song.title[:20] + '...' if song.title | length > 20 else song.title}}</td>
                <td data-toggle="tooltip" data-placement="top" title="{{song.artist}}">{{song.artist[:20] + '...' if song.artist | length > 20 else song.artist}}</td>
                <td data-toggle="tooltip" data-placement="top" title="{{song.album}}">{{song.album[:20] + '...' if song.album | length > 20 else song.album}}</td>
                <td><a href="stream-song/{{song.id}}" class="btn btn-outline-success btn-sm">Stream</a></td>
                <td><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></td>
              </tr>
              {% endfor %}

            </tbody>
          </table>


          <!-- <div class="text-center">
            <button class="btn btn-outline-secondary btn-sm">Load More</button>
          </div> -->
          
    </div>




    {% include "footer.html" %}

<script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      })

</script>


</body>

</html>