<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>


    {% include "header.html" %}

    <div class="container">
        <br>
        <h4 class="text-center">Stream Song</h4>
        <br>


        <div class="card mx-auto" style="width:400px">
            <img class="card-img-top" src="{{ url_for('static', filename='img/music_player_logo.png' ~ filename, _external=true) }}" alt="Card image" style="width:30%">
            <div class="card-body">
                <h4 class="card-title">{{song_model.title}}</h4>
                <p class="card-text">Album: {{song_model.album}}</p>
                <p class="card-text">Artist: {{song_model.artist}}</p>
                <p class="card-text">Playlist: Default</p>
                <a href="{{song_model.file_location}}" class="btn btn-outline-success btn-sm" download>Download</a>
                <br>
                <br>
                <audio controls>
                    <source src="{{song_model.file_location}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

    </div>


    {% include "footer.html" %}


</body>

</html>