<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        #sticky-footer {
            flex-shrink: none;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }
    </style>

    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>

    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MusicMan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">View All</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Upload</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
                <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </nav>

    <div class="container">
        <br>
        <h4 class="text-center">Upload Song</h4>
        <br>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">

        <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/submit-file">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Title:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="title"
                id="title" placeholder="Enter Title" required>
              </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Album:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="album"
                  id="album" placeholder="Enter Album" required>
                </div>
              </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Artist:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="artist"
                id="artist" placeholder="Enter Artist" required>
              </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">Mp3 File:</label>
                <div class="col-sm-10">
       <input type="file" class="custom-file-input" id="customFile" name="filename" required>
                    <label class="custom-file-label" for="customFile">Choose MP3 file</label>
                </div>
              </div>

              <div class="text-center">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Upload</button>
                  </div>
              </div> 

          </form> 

        </div>
    </div>

        <!-- 

          <div class="text-center">
            <button class="btn btn-outline-secondary btn-sm">Load More</button>
          </div> -->

    </div>




    <footer id="sticky-footer" class="py-1 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; MusicMan</small>
        </div>
    </footer>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })

    </script>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>


</body>

</html>