<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>


    {% include "header.html" %}

    <div class="container">
        <br>
        <h4 class="text-center">Upload Song</h4>
        <br>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">

                <form class="form-horizontal" enctype="multipart/form-data" method="POST"
                    onsubmit="return Validate_input_file(this);" action="/submit-file">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Title:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title"
                                required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Album:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="album" id="album" placeholder="Enter Album"
                                required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="pwd">Artist:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="artist" id="artist" placeholder="Enter Artist"
                                required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pwd">Mp3 File:</label>
                        <div class="col-sm-10">
                            <input type="file" class="custom-file-input" id="customFile" name="filename" required>
                            <label class="custom-file-label" for="customFile">Choose MP3 file</label>
                        </div>
                    </div>
                    <p id="error-validation"></p>
                    <div class="text-center">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-outline-secondary btn-sm">Upload</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>

    {% include "footer.html" %}


    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <script>
        // function post_validation(result_status)
        // {
        //     alert(result_status)
        //     return result_status;

        // }
        function Validate_input_file() {

            result_status = true;
            var input_file = document.getElementById("customFile");
            var input_filename = input_file.value;
            var input_fileExtension = input_filename.split('.')[input_filename.split('.').length - 1].toLowerCase();
            if (!(input_fileExtension === "mp3")) {
                document.getElementById("error-validation").innerHTML = "";
                document.getElementById("error-validation").innerHTML +=
                    '<div class="alert alert-danger">' +
                    'Please make sure your file is in mp3 format' +
                    '</div>'
                $("#error-validation").show()
                $('#error-validation').delay(5000).fadeOut('slow');
                setTimeout(function () {
                }, 5000);
                return false;
            }
            else {
                title = document.getElementById("title").value;
                album = document.getElementById("album").value;
                artist = document.getElementById("artist").value;

                var data = {
                    "title": title, "album": album,
                    "artist": artist
                };
                $.ajax({
                    type: "POST",
                    url: '/file_validation',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function (result) {
                        console.log(result);

                        if (result.status == false) {

                            document.getElementById("error-validation").innerHTML = "";
                            document.getElementById("error-validation").innerHTML +=
                                '<div class="alert alert-danger">' +
                                'Sorry this song already added in your database' +
                                '</div>'
                            $("#error-validation").show()
                            $('#error-validation').delay(5000).fadeOut('slow');
                            setTimeout(function () {
                            }, 5000);

                            result_status = false;


                        }
                        else {


                            if (result.status == true) {
                                document.getElementById("error-validation").innerHTML = "";
                                document.getElementById("error-validation").innerHTML +=
                                    '<div class="alert alert-success">' +
                                    'Hurray!!!Song uploaded successfully!!!' +
                                    '</div>'
                                $("#error-validation").show()
                                $('#error-validation').delay(5000).fadeOut('slow');
                                setTimeout(function () {
                                }, 5000);

                                //window.location.href = '/';
                                result_status = true;

                            }
                        }

                    },
                    async: false

                });





            }
            // result = post_validation(result_status);
            return result_status;
        }


    </script>


</body>

</html>